node_modules
vendor
.git
.github
storage/framework/cache
storage/framework/sessions
storage/framework/views
storage/logs
public/build
public/storage
.env
.env.*
! .env.example
docker-compose.yml
docker-compose.override.yml
README.md
phpunit.xml
tests
