*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
.codex
.cursor/
.idea
.nova
.phpunit.cache
.vscode
.zed
.fleet
auth.json
# composer.lock
# package-lock.json
pnpm-lock.yaml
yarn.lock
/node_modules
/public/build
/public/css
/public/fonts-manifest.dev.json
/public/hot
/public/js
/public/mix-manifest.json
/public/storage
/storage/*.key
/storage/debugbar
/storage/framework/cache
/storage/framework/sessions
/storage/framework/views
/storage/logs/*.log
/storage/pail
/vendor
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
docker-compose.override.yml
/bootstrap/cache/*.php
.github_actions_deploy_key
.github_actions_deploy_key.pubgithub_actions_deploy_key
github_actions_deploy_key.pub
github_actions_deploy_key.pub
github_actions_deploy_key
